* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #9CAFAA;
}

#logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    padding-left: 20px;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 10 px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  text-align: center;
  border-radius: 20px;
}

.prompt-content {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background: #D6DAC8;
  border-radius: 10 px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  text-align: center;
  border-radius: 20px;
}

.prompt-content label {
 font-size: 15px;
  display: block;
}

.prompt-content input {
  margin: 10px auto;
  border-radius: 6px;
  width: 100%;
  max-width: 300px;
  padding: 10px;
}

.prompt-content select {
  margin: 10px auto;
  border-radius: 6px;
  width: 100%;
  max-width: 300px;
  padding: 10px;
}

.prompt-content textarea {
  margin: 12px auto;
  border: 2px solid #90caf9;
  border-radius: 6px;
  width: 100%;
  max-width: 400px;
  padding: 10px;
}

.prompt-content button {
  margin: 10px auto;
  border-radius: 6px;
  background-color: green;
  width: 100%;
  max-width: 80px;
  padding: 10px;
  color: white;
}

.lobster-two-regular {
  font-family: "Lobster Two", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.dropdown {
  position: relative;
}

.dropdown-btn {
  cursor: pointer;
  border: none;
  background: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-left: 20px;
  padding: 15px 20px;
  border: 1px solid #cecece;
  border-radius: 10px;
  z-index: 1;
}

.show {
  display: block;
}
